<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Uygulamam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YazilimYapimi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <style>
        .dropdown-item .user-item {
            white-space: normal;
            vertical-align: bottom;
        }
    </style>
</head>
<body>
  

    <div class="container">




        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                @if (Convert.ToInt32(Session["yetki"]) == 2)
                {
                    <div class="col-4 pt-1">
                        <li class="nav-item dropdown" style="list-style-type: none;">
                            <a class="nav-link dropdown-toggle mr-lg-2" id="contactsDropdown" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-bell"></i>
                                <span class="d-lg-none">
                                    Onaylamalar
                                    <span class="badge badge-pill badge-warning">6 new</span>
                                </span>
                                <span class="indicator text-warning d-none d-lg-block">
                                    <i class="fa fa-fw fa-circle"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="min-width: 300px;" aria-labelledby="contactsDropdown">
                                <h6 class="dropdown-header">İstekler:</h6>

                                <div class="dropdown-divider"></div>
                                <!--<a class="dropdown-item" href="#">
                                    <img src="https://orig00.deviantart.net/d7b0/f/2011/166/d/4/avatar_100x100_by_demonfox_zephz-d3iyw6a.png"
                                         class="rounded-circle" style="width: 50px; height: 50px;">
                                    <div class="text-left user-item" style="display: inline-block; margin-left: 10px; width: 100px;">
                                        FirstName LastNamesd dsf dsf dsfds
                                    </div>
                                    <div style="display: inline-block;">
                                        <input type="button" class="btn btn-primary btn-sm justify-content-end" value="✓">
                                        <input type="button" class="btn btn-default btn-sm justify-content-end" value="X">
                                    </div>
                                </a>-->


                                @foreach (var item in ViewBag.bakiye)
                                {


                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <div class="text-left user-item" style="display: inline-block; margin-left: 10px;width: 100px;float: left">
                                            @item.kullanici hesabına @item.para tl ekledi
                                        </div>
                                        <div style="display: inline-block;">
                                            <a class="btn btn-primary btn-sm justify-content-end" href="/Home/BakiyeOnay?id=@item.kid&onay=1&bakiye=@item.para">✓</a>
                                            <a class="btn btn-primary btn-sm justify-content-end" href="/Home/BakiyeOnay?id=@item.kid&onay=0">X</a>
                                        </div>
                                    </a>

                                }
                                @foreach (var item in ViewBag.urun)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <div class="text-left user-item" style="display: inline-block; margin-left: 10px; width: 100px; float:left">
                                            @item.kullanici , @item.miktar adet @item.urun satmak istiyor.adeti @item.fiyat tl karşılığında
                                        </div>
                                        <div style="display: inline-block;">
                                            <a class="btn btn-primary btn-sm justify-content-end" href="/Home/UrunOnay?urun_id=@item.urun_id&miktar=@item.miktar&k_id=@item.k_id&urun=@item.urun&fiyat=@item.fiyat&onay=1">✓</a>
                                            <a class="btn btn-primary btn-sm justify-content-end" href="/Home/UrunOnay?urun_id=@item.urun_id&onay=0">X</a>
                                        </div>
                                    </a>
                                }
                            </div>
                        </li>
                    </div>
                }
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="#">YAZILIM YAPIMI</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    @if (Session["yetki"] == null)
                    {
                        <a class="btn btn-sm btn-outline-secondary" href="/Home/Index">Giriş Yap</a>
                    }

                    @if (Session["yetki"] != null)
                    {
                        if (Convert.ToInt32(Session["yetki"]) != 2)
                        {
                            <a class="btn btn-sm btn-outline-secondary" href="/Home/BakiyeEkle">bakiye:@Session["para"].ToString()</a>
                        }
                        <a class="btn btn-sm btn-outline-secondary" href="/Home/Cikis">çıkış yap</a>
                    }
                </div>
            </div>
        </header>
        <hr class="mb-4">
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" href="/Home/Urunler">Ürünler</a>
                @if (Convert.ToInt32(Session["yetki"]) == 1)
                {
                    <a class="p-2 text-muted" href="/Home/UrunEkle">Ürün ekle</a>
                }
                @if (Session["yetki"] != null)
                {
                    <a class="p-2 text-muted" href="/Home/BakiyeEkle">bakiye ekle</a>
                    <a class="p-2 text-muted" href="/Home/OtoSatinAl">Otomatik Ürün Al</a>
                    <a class="p-2 text-muted" href="/Home/SatisRapor">Alışveriş Geçmişi</a>
                }

            </nav>
        </div>

        <hr class="mb-4">

        @RenderBody()

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
